@use './../../../vars';


.np-scene {
  &-description {
    color: vars.$standard-text-color;
    font-family: vars.$standard-font-family;
    padding-bottom: 1%;
    white-space: pre-line;
  }

  &-divide {
    color: rgba(61, 55, 49, 0.721);
    margin: 20px 10%;
  }

  &-subtitle {
    font-family: vars.$standard-font-family;
    color: vars.$gold-color;
    font-size: 1.5rem;
    padding: 1% 0;
  }

  @media screen and (max-width: 480px) {
    &-subtitle {
      display: block;
    }
  }
}